@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
    background: variaveis.$gradiente-primario;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha{
            border-top: 1px solid black;
            width: 80%;
        }

        ul{
            display: inline-flex;
            gap: 2rem;
            
            li{
                list-style-type: none;
            }

            a{
                text-decoration: none;
                @include mixins.formatar-fonte(variaveis.$fonte-textos, 1rem, variaveis.$cor-1);
                font-weight: 500;
                transition: color 0.5s ease-in-out;

                &:hover{
                    color: variaveis.$cor-2;
                }
            }
        }
    }

    #home{
        max-width: 90vw;
        @include mixins.margem-central(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .textos-home {
            width: 464px;
            h1{
                font-size: 42px;
                color: variaveis.$cor-1;
                font-family: variaveis.$fonte-titulos;
                margin-bottom: 2rem;
                span {
                    color: variaveis.$cor-2;
                }
            }
        }

        .img-home{
            max-width: 474px;
            img{
                width: 100%;
            }
        }

        .btn-main {
            display: flex;
            width: 280px;
            height: 66px;
            padding: 24px;
            align-items: center;
            justify-content: center;
            @include mixins.formatar-fonte(variaveis.$fonte-textos, 1.3rem, #FFFFFF);
            border: none;
            border-radius: 66px;
            background-color: variaveis.$cor-2;
            cursor: pointer;
            transition: background-color 0.5s ease-in-out;

            &:hover{
                background-color: variaveis.$cor-1;
            }
        }
    }
}