* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
}

header {
  background: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
  padding: 2rem;
}
header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
header nav .linha {
  border-top: 1px solid black;
  width: 80%;
}
header nav ul {
  display: inline-flex;
  gap: 2rem;
}
header nav ul li {
  list-style-type: none;
}
header nav ul a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #0c0421;
  font-weight: 500;
  transition: color 0.5s ease-in-out;
}
header nav ul a:hover {
  color: #4e75ff;
}
header #home {
  max-width: 90vw;
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #home .textos-home {
  width: 464px;
}
header #home .textos-home h1 {
  font-size: 42px;
  color: #0c0421;
  font-family: "Krona One", sans-serif;
  margin-bottom: 2rem;
}
header #home .textos-home h1 span {
  color: #4e75ff;
}
header #home .img-home {
  max-width: 474px;
}
header #home .img-home img {
  width: 100%;
}
header #home .btn-main {
  display: flex;
  width: 280px;
  height: 66px;
  padding: 24px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  border: none;
  border-radius: 66px;
  background-color: #4e75ff;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
header #home .btn-main:hover {
  background-color: #0c0421;
}

#nosso-espaco {
  margin: 0 auto;
  width: 80%;
}
#nosso-espaco .detalhes {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem 0;
}
#nosso-espaco .detalhes .img-espaco, #nosso-espaco .detalhes .espaco-textos {
  max-width: 500px;
}
#nosso-espaco .detalhes .espaco-textos .separador {
  width: 100%;
}
#nosso-espaco .detalhes .espaco-textos .titulo {
  font-family: "Krona One", sans-serif;
  font-size: 1.8rem;
  color: #4e75ff;
  font-weight: bold;
}
#nosso-espaco .detalhes .espaco-textos .infos {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #0c0421;
  padding: 5% 0;
}
#nosso-espaco .detalhes:nth-child(2) {
  flex-direction: row-reverse;
}

#servico {
  background: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
  padding: 5rem 0;
}
#servico .cards {
  margin: 0 auto;
  width: 80%;
  display: flex;
  gap: 1.5rem;
}
#servico .cards .card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(202, 212, 250, 0.3) 100%);
  padding: 1rem 1.5rem;
  text-align: center;
  border: 1px solid white;
  border-radius: 3rem;
  transition: box-shadow 0.6s ease;
}
#servico .cards .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
#servico .cards .card-titulo {
  font-family: "Krona One", sans-serif;
  font-size: 1.6rem;
  color: #0c0421;
}
#servico .cards .card-texto {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #0c0421;
}

#desconto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=styles.css.map */